* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(94, 64, 15);
    --secondary-color: rgb(218, 186, 134);
    --accent-color: rgb(194, 210, 73);
    --danger-color: rgb(208, 64, 38);
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer,
header {
    border: 3px solid blue;
    display: flex;
    justify-content: center;
}

#inventory-container {
    background-color: var(--primary-color);
    display: flex;
    margin: 8px 20%;
    padding: 8px;
    gap: 4px;
}

.item {
    background-color: var(--secondary-color);
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container {
    width: 100px;
}

.img-container>img {
    width: 100%;
}

/* --------------- CONTENIDO DE LAS ESCENAS --------------- */

main {
    padding: 32px;
    border: 3px solid red;
    overflow-y: auto;
    overflow-x: hidden;
}

main>div {
    height: 100%;
}

#scene-1,
#scene-2 {
    display: flex;
    justify-content: center;
    height: 100%;
}

#scene-1-container,
#scene-2-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#scene-1 .row-1 {
    border: 3px solid purple;
    flex: 4;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background: var(--secondary-color);
}

#scene-1 .row-2 {
    border: 3px yellow solid;
    flex: 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    padding: 16px;
    background: var(--primary-color);
}

#scene-1 .stats {
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#scene-1 .row-3 {
    border: 3px solid green;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background: var(--primary-color);
}

#scene-2 .row-1 {
    height: 80%;
}

#scene-2 .row-2 {
    height: 20%;
}

#scene-2 .row-1 .card {
    width: 100px;
    height: 100px;
    background: gray;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

@media (width < 640px) {
    #inventory-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/*----------------- ESCENA 3 -----------------------*/

#scene-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100%;
}

#contenedor-escena3 {
    background-color: var(--primary-color);
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

#scene-3 .fila1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.enemigos {
    width: 360px;
    height: 360px;
    background: white;
    border: 4px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.foto {
    margin-top: 20px;
    background-color: white;
    display: flex;
    width: 200px;
    height: 200px;
    border: 2px solid var(--accent-color);
}

.foto img {
    object-fit: cover;
}

/*#titulo-e {
    justify-content: center;
    color: white;
    font-size: 24px;
    display: flex;
    position: absolute;
    align-items: center;
    width: 150px;
    height: 40px;
    top: 10px;
    right: 10px;
    border: 2px solid var(--accent-color);
}*/

.stats2 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 60px;
    border: 2px solid var(--accent-color);
}

#continuar {
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--highlight-color);
    border: 4px solid var(--accent-color);
    border-radius: 8px;
    margin-top: 20px;
    width: 140px;
    height: 40px;
}

#comprar {
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--highlight-color);
    border: 4px solid var(--accent-color);
    border-radius: 8px;
    margin-top: 20px;
    width: 140px;
    height: 40px;
}